<h3>Liste des livrables</h3>
<div *ngIf="chargement">Chargement...</div>
<div *ngIf="erreur" class="erreur">{{ erreur }}</div>

<table *ngIf="livrables.length">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Date limite</th>
    <th>Statut</th>
    <th>URL dépôt</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let livrable of livrables">
    <td>{{ livrable.nom }}</td>
    <td>{{ livrable.description }}</td>
    <td>{{ livrable.dateLimite | date:'dd/MM/yyyy' }}</td>
    <td>{{ livrable.statut }}</td>
    <td>
      <a [href]="livrable.urlDepot" target="_blank">Voir sur GitHub</a>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!livrables.length && !chargement">Aucun livrable trouvé.</div>
