<section aria-labelledby="liste-livrables-titre">
  <h2 id="liste-livrables-titre">Liste des livrables</h2>

  <div *ngIf="chargement" class="info">Chargement des livrables...</div>
  <div *ngIf="erreur" class="error">{{ erreur }}</div>

  <ul class="livrable-list" *ngIf="!chargement && livrables.length">
    <li *ngFor="let livrable of livrables">
      <span class="livrable-intitule">{{ livrable.intitule }}</span>
      <span class="status" [ngClass]="{
        'termine': livrable.statut === StatutLivrable.TERMINE,
        'attente': livrable.statut === StatutLivrable.EN_ATTENTE,
        'retard': livrable.statut === StatutLivrable.EN_RETARD
      }">{{ livrable.statut }}</span>
      <span *ngIf="livrable.dateLimite">&nbsp;- À rendre avant le <time [attr.datetime]="livrable.dateLimite">{{ livrable.dateLimite | date:'shortDate' }}</time></span>
      <!-- <span *ngIf="livrable.urlDepot">
        &nbsp;| <a [href]="livrable.urlDepot" target="_blank" rel="noopener">Depôt</a>
      </span> -->
    </li>
  </ul>

  <div *ngIf="!chargement && !livrables.length && !erreur" class="info">
    Aucun livrable à afficher.
  </div>
</section>
