<ng-container *ngIf="livrable; else loading">
  <article class="deliverable-detail" aria-labelledby="livrable-titre">
    <h2 id="livrable-titre">{{ livrable.intitule }}
      <span [class]="statutClass(livrable.statut)">{{ livrable.statut }}</span>
    </h2>
    <p><strong>Description&nbsp;:</strong> {{ livrable.description }}</p>
    <p><strong>Date limite&nbsp;:</strong> <time [attr.datetime]="livrable.dateLimite">{{ livrable.dateLimite | date:'longDate' }}</time></p>
    <!-- <p *ngIf="livrable.urlDepot"><strong>URL de dépôt&nbsp;:</strong> <a [href]="livrable.urlDepot" rel="noopener" target="_blank">{{ livrable.urlDepot }}</a></p> -->
    <p *ngIf="livrable.projetId"><strong>Projet associé</strong>&nbsp;: {{ livrable.projetId }}</p>
  </article>
</ng-container>
<ng-template #loading>
  <p>Chargement du livrable...</p>
</ng-template>
