<article class="project-detail" aria-labelledby="projet-titre">
  <h2 id="projet-titre">{{ projet.nom }}</h2>
  <p>Description : {{ projet.description }}</p>
  <p>Date limite : <time [attr.datetime]="projet.echeance">{{ projet.echeance | date:'longDate' }}</time></p>
  <section aria-labelledby="membres-titre">
    <h3 id="membres-titre">Membres du projet</h3>
    <ul>
      <li *ngFor="let membre of projet.membres">{{ membre.nomComplet }}</li>
    </ul>
  </section>
  <section aria-labelledby="livrables-associes-titre">
    <h3 id="livrables-associes-titre">Livrables associés</h3>
    <ul>
      <li *ngFor="let livrable of projet.livrables">
        <a [routerLink]="['/livrables', livrable.id]">{{ livrable.titre }}</a>
      </li>
    </ul>
  </section>
</article>
