<ng-container *ngIf="projet; else loading">
  <article class="project-detail" aria-labelledby="projet-titre">
    <h2 id="projet-titre">{{ projet.titre }}
      <span [class]="statutClass(projet.statut)">{{ projet.statut }}</span>
    </h2>
    <p><strong>Description&nbsp;:</strong> {{ projet.description }}</p>
    <p><strong>Date de début&nbsp;:</strong> <time [attr.datetime]="projet.dateDebut">{{ projet.dateDebut | date:'longDate' }}</time></p>
    <p><strong>Date de fin&nbsp;:</strong> <time [attr.datetime]="projet.dateFin">{{ projet.dateFin | date:'longDate' }}</time></p>
    <section aria-labelledby="membres-titre">
      <h3 id="membres-titre">Membres du projet</h3>
      <ul>
        <li *ngFor="let membre of projet.equipe">{{ membre }}</li>
      </ul>
    </section>
    <section aria-labelledby="livrables-titre">
      <h3 id="livrables-titre">Livrables associés</h3>
      <ul>
        <li *ngFor="let livrable of projet.livrables">
          <strong>{{ livrable.nom }}</strong>
          <span class="status" [class]="livrable.statut.toLowerCase()">{{ livrable.statut }}</span>
          <span *ngIf="livrable.dateLimite">&nbsp;- À rendre avant le <time [attr.datetime]="livrable.dateLimite">{{ livrable.dateLimite | date:'shortDate' }}</time></span>
        </li>
      </ul>
    </section>
  </article>
</ng-container>
<ng-template #loading>
  <p>Chargement du projet...</p>
</ng-template>
